In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv(
    "../data/raw/AAPL.csv",
    index_col=0,
    parse_dates=True
)

df.head()

C:\Users\Varun\AppData\Local\Temp\ipykernel_27844\3601658405.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(

,Adj Close,Close,High,Low,Open,Volume
Price,,,,,,
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-02,24.237558364868164,27.332500457763672,27.860000610351562,26.837499618530273,27.84749984741211,212818400
2015-01-05,23.554738998413086,26.5625,27.162500381469727,26.352500915527344,27.072500228881836,257142000
2015-01-06,23.556957244873047,26.565000534057617,26.857500076293945,26.157499313354492,26.635000228881836,263188400

In [4]:
df.isna().sum()

Adj Close    1
Close        1
High         1
Low          1
Open         1
Volume       1
dtype: int64

In [ ]:
df.columns

Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [6]:
import matplotlib.pyplot as plt

df["Adj Close"].astype(float).plot(figsize=(10, 4))
plt.title("AAPL Adjusted Close")
plt.show()

ValueError: could not convert string to float: 'AAPL'

In [1]:
import pandas as pd

df = pd.read_csv(
    "../data/processed/AAPL_clean.csv",
    index_col=0,
    parse_dates=True
)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2757 entries, 2015-01-02 to Ticker
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   open       2757 non-null   float64
 1   high       2757 non-null   float64
 2   low        2757 non-null   float64
 3   close      2757 non-null   float64
 4   adj_close  2757 non-null   float64
 5   volume     2757 non-null   float64
dtypes: float64(6)
memory usage: 150.8+ KB

In [6]:
import pandas as pd

df = pd.read_csv(
    "../data/processed/features/AAPL_features.csv",
    index_col=0,
    parse_dates=True
)


df.shape

(2679, 40)

In [9]:
import pandas as pd

df = pd.read_csv(
    "../data/processed/features/AAPL_features.csv",
    index_col=0,
    parse_dates=True
)

df.dtypes

ret_1d                   float64
ret_3d                   float64
ret_5d                   float64
ret_10d                  float64
log_ret_1d               float64
log_ret_5d               float64
cum_ret_5d               float64
cum_ret_10d              float64
vol_5d                   float64
vol_10d                  float64
vol_20d                  float64
vol_ratio_5_20           float64
vol_ratio_10_20          float64
hl_vol_5d                float64
hl_vol_10d               float64
rsi_14                   float64
rsi_divergence           float64
dmi_spread               float64
roc_5d                   float64
roc_10d                  float64
mom_slope_5d             float64
mom_slope_10d            float64
dist_sma_20              float64
dist_sma_50              float64
trend_alignment          float64
dist_ema_20              float64
dist_ema_50              float64
price_range_pos_20       float64
volume_zscore            float64
volume_change_1d         float64
volume_change_5d         float64
volume_price_corr_10d    float64
vol_weighted_momentum    float64
ad_momentum_14d          float64
volume_surprise          float64
parkinson_vol            float64
garman_klass_vol         float64
atr_percentile           float64
lr_slope_conf_20         float64
obv_divergence           float64
dtype: object

In [20]:
import os
os.chdir(r"C:\Users\Varun\OneDrive\Desktop\ptre")

In [21]:
print(os.getcwd())

C:\Users\Varun\OneDrive\Desktop\ptre

In [22]:
X = pd.read_csv("data/processed/features/AAPL_features.csv", index_col=0)
y = pd.read_csv("data/processed/labels/AAPL_labels.csv", index_col=0)

In [23]:
print("FEATURE index sample:")
print(X.index[:10])

print("\nLABEL index sample:")
print(y.index[:10])

print("\nFeature index dtype:", X.index.dtype)
print("Label index dtype:", y.index.dtype)

X_idx = pd.to_datetime(X.index, errors="coerce")
y_idx = pd.to_datetime(y.index, errors="coerce")

print("\nIntersection length:", len(X_idx.intersection(y_idx)))

FEATURE index sample:
Index(['2015-04-27', '2015-04-28', '2015-04-29', '2015-04-30', '2015-05-01',
       '2015-05-04', '2015-05-05', '2015-05-06', '2015-05-07', '2015-05-08'],
      dtype='object', name='Price')

LABEL index sample:
Index(['2015-04-27', '2015-04-28', '2015-04-29', '2015-04-30', '2015-05-01',
       '2015-05-04', '2015-05-05', '2015-05-06', '2015-05-07', '2015-05-08'],
      dtype='object', name='Price')

Feature index dtype: object
Label index dtype: object

Intersection length: 2669

In [31]:
print(os.getcwd())

C:\Users\Varun\OneDrive\Desktop\ptre

In [32]:
from src.models.train_baseline import load_data

In [33]:
df = load_data("AAPL")
print(df.shape)
print(df.index.dtype)
df.head()

ValueError: time data "Date" doesn't match format "%Y-%m-%d", at position 2677. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.